/* src/components/ProductCard.css */
.product-card {
    /* border: 2px solid #ddd; */
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    width: 32rem;
    height: 20rem;
  }
  
  .product-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    border-radius: 15px;
    height: 17rem;
  }
  
  .product-title {
    font-size: 2vmin;
    margin-bottom: 5px;
    
  }
  
  .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .grid-wrapper{
    display: flex;
    justify-content: center;         /* horizontal center */
    align-items: center;             /* vertical center */
    width: 20rem;
    gap: 1rem;
  }

  .data{
    display: flex;
    justify-content: space-between;
    
  }